/* BASE STYLES FOR GREEN GROCER */
/* Make sure to add appropriate links to header of html page to ensure that logo and fonts will appear correctly */

/* COLORS */
/* To use - color: var(--green) */

:root {
    --lightest-green: #c5edce;
    --light-green: #9ee0ad;
    --green: #6ED184; /* Main green */
    --dark-green: #2b8840;
    --darker-green: #1f612d;
    --darkest-green: #123a1b;
}

/* NAV BAR */

body {margin: 0px;}

.bar {
    position: sticky; 
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    background: var(--green);
    padding: 1.3rem;
    margin: 0;
    z-index: 100;
  }
  
.gg {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: white;
    font-weight: 700;
}

/* Logo (Google Icon) */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
    
.icon {
    color: white;
    margin-top: 4px;
}

.items {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
}

/* Side Bar Navigation */

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}
  
.openbtn {
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.openbtn:hover {
    color: black;
    cursor: pointer;
}

.menu-button {
    font-size: 36px !important;
    position: relative;
    top: 6px;
    left: -4px;
}

.menu-text {
    font-size: 12px;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.all-over-bkg {
    display: none;
}

.is-visible {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    display: block;
}

#mySidenav {
    z-index: 10000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-color: white;  
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: black;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    cursor: pointer;
}

/* TYPOGRAPHY */

/* Title */
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* Subtitle */
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Normal Text */
p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.single-cal {
    color: var(--green);
    font-size: 19px;
    margin: 0;
    padding: 0;
    font-weight: 500px;
}

.italic {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* BUTTON */
/* Use <button class="hvr-grow"> Button Text </button> */

.button {
    padding: 13px 15px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--green);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 3px #E5E4E2;
}

.button:hover {
    background-color: var(--dark-green);
}

.disabled {
    padding: 13px 15px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightslategray;
    border: none;
    border-radius: 12px;
    pointer-events: auto;
}

.reg {
    display: flex; 
    align-items: center;
    font-size: 17px;
}

.addButton {
    display: flex;
    justify-content: flex-end;
    margin: 15px 15px 0px;
}

.datePicker {
    border: 2px solid var(--green);
    padding: 10px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
}
/*  Hover Effect */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Meal Plan Weekly View */

.calIntake {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.recipe {
    display: flex;
    flex-flow: column nowrap;
}

.recipes {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid var(--green);
    border-radius: 10px;
    padding: 0px 15px;
}

.day {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 10px;
}

.days {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 15px;
}

.recipeImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--green);
    text-align: center;
}

.day-h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--green);
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.mealType {
    font-weight: 600;
    font-size: 16px;
}

.dishName {
    font-size: 14px;
    text-align: center;
    max-width: 150px;
}

.recipeDiv:hover {
    cursor: pointer;
}

/* Empty Meal Plan View */

.selectDate {
    font-size: 18px;
    line-height: 0;
    text-align: center;
}

.emptyW {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* Divs at Top of Page */

.topContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topButtons {
    display: flex;
    justify-content: space-between;
}

.chooseDate {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 15px 0px;
}

/* POPUP */

.hidePopup {
    display: none;
}

.logo {
    color: var(--green);
}

.dPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dPopup-inner {
    background-color: #F5F5F5;
    border: 5px solid var(--green);
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 400px;
}

.dPopup.open {
    background-color: rgba(211,211,211,0.7);
    /* opacity: 1; */
    z-index: 999;
}

.dPopup.close {
    display: none;
}

.popupButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}

/* Keep Buttons */

.keepDiv {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.keep {
    font-size: 15px;
    padding: 10px 10px;
    margin-top: 10px;
}

.remove {
    font-size: 13px;
    padding: 5px 5px;
    margin-top: 10px;
    background-color: red;
    border-radius: 50%;

    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
}

.closeButton {
    padding: 11px 12px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--green);
    border: none;
    border-radius: 12px;
    height: 45px;
}

.closeButton:hover {
    background-color: var(--dark-green);
}

/* MEDIA QUERIES */

@media (max-width: 400px) {
    .button {
        font-size: 14px;
    }
    .calendar {
        font-size: 14px;
    }
    .toggleText {
        font-size: 14px;
    }
    .cal {
        margin-right: 0px;
    }
    .recipeImg {
        width: 250px;
        height: 250px;
    }
    .dishName {
        max-width: 250px;
        font-size: 14px;
    }
    .recipes {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .recipe {
        justify-content: center;
    }
    .day {
        padding-left: 25px;
        padding-right: 25px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
    .trash {
        color: black;
    }
    .recipeItems {
        flex-flow: column nowrap;
        margin: 0px 20px;
        gap: 20px;
    }
    .recipeItem {
        justify-content: center;
        align-items: center;
    }

    .italic {
        text-align: center;
        padding: 0px 10px;
    }
    .startText {
        font-size: 14px;
    }
    .dateSubmit {
        font-size: 14px;
    }
    .disabled {
        font-size: 14px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .recipeImg {
        width: 375px;
        height: 200px;
    }
    .dishName {
        max-width: 375px;
        font-size: 16px;
    }
    .recipes {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .recipe {
        justify-content: center;
    }
    .day {
        padding-left: 25px;
        padding-right: 25px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
    .dailyImg {
        width: 350px;
        height: 300px;
    }
    .dailyDish {
        max-width: 350px;
        font-size: 18px;
    }
    .recipeItems {
        flex-flow: column nowrap;
        margin: 0px 50px;
        gap: 20px;
    }
    .recipeItem {
        justify-content: center;
        align-items: center;
    }

    .italic {
        text-align: center;
        padding: 0px 10px;
    }
    .startText {
        font-size: 14px;
    }
    .button {
        font-size: 14px;
    }
    .disabled {
        font-size: 14px;
    }
    .dateSubmit {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 650px) {
    .recipeImg {
        width: 150px;
        height: 150px;
    }
    .dishName {
        max-width: 150px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 25px;
        padding-right: 25px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
    .recipeItems {
        flex-flow: column nowrap;
        margin: 0px 75px;
        gap: 20px;
    }
    .recipeItem {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 650px) and (max-width: 730px) {
    .recipeImg {
        width: 175px;
        height: 175px;
    }
    .dishName {
        max-width: 175px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 25px;
        padding-right: 25px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
    .recipeItems {
        flex-flow: column nowrap;
        margin: 0px 75px;
        gap: 20px;
    }
    .recipeItem {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 730px) and (max-width: 800px) {
    .recipeImg {
        width: 200px;
        height: 200px;
    }
    .dishName {
        max-width: 200px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 25px;
        padding-right: 25px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
    .dailyImg {
        width: 525px;
        height: 450px;
    }
    .dailyDish {
        max-width: 525px;
        font-size: 20px;
    }
    .recipeItems {
        flex-flow: column nowrap;
        margin: 0px 75px;
        gap: 20px;
    }
    .recipeItem {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 800px) and (max-width: 865px) {
    .recipeImg {
        width: 200px;
        height: 200px;
    }
    .dishName {
        max-width: 200px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 50px;
        padding-right: 50px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
}

@media (min-width: 865px) and (max-width: 970px) {
    .recipeImg {
        width: 225px;
        height: 225px;
    }
    .dishName {
        max-width: 225px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 50px;
        padding-right: 50px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
}

@media (min-width: 970px) and (max-width: 1024px) { 
    .recipeImg {
        width: 250px;
        height: 250px;
    }
    .dishName {
        max-width: 250px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 50px;
        padding-right: 50px;
    }
    .days {
        flex-flow: column nowrap;
        gap: 25px;
    }
}

@media (min-width: 1024px) and (max-width: 1116px) {
    .recipeImg {
        width: 275px;
        height: 275px;
    }
    .dishName {
        max-width: 275px;
    }
    .recipes {
        flex-flow: row nowrap;
        gap: 25px;
        justify-content: center;
    }
    .day {
        padding-left: 50px;
        padding-right: 50px;
        gap: 25px;
    }
    .days {
        flex-flow: column nowrap;
    }
}

@media (min-width: 1116px) and (max-width: 1228px) {
    .recipeImg {
        width: 110px;
        height: 110px;
    }
    .dishName {
        max-width: 110px;
        font-size: 11px;
    }
}

@media (min-width: 1228px) and (max-width: 1340px) {
    .recipeImg {
        width: 125px;
        height: 125px;
    }
    .dishName {
        max-width: 125px;
        font-size: 12px;
    }
}

@media (min-width: 1340px) and (max-width: 1452px) {
    .recipeImg {
        width: 140px;
        height: 140px;
    }
    .dishName {
        max-width: 140px;
        font-size: 12px;
    }
}
